@{
    ViewData["Title"] = "Admin Page";
}

<div class="row">
    <div class="col-md-2  sidebar" style="position: sticky; top: 35px; height: fit-content;">
        <partial name="NavPanel" />
    </div>
    <div class="text-center col-10">
        <div class="text-center ">
            
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="page-title">
                    <i class="fas fa-users mr-2"></i> Управление доступом
                </h1>
                
            </div>

            <table class="table table-striped">
                <thead class="thead">
                    <tr>
                        <th>Имя пользователя</th>
                        <th>Email</th>
                        <th>Роли</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr >
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>
                                @if (user.Roles.Count>0)
                                {
                                    @foreach (var role in user.Roles)
                                    {
                                        <span class="badge badge-primary text-dark">@role</span>
                                    }
                                }
                                else
                                {
                                    <span class="text-muted text-dark">Нет ролей</span>
                                }
                            </td>
                            <td>
                                <a asp-action="Manage" asp-route-userId="@user.UserId" class="btn btn-primary btn-sm">
                                    Управление ролями
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




